.subscription-form {
    display: flex;
    margin-left: 93px;
    gap: 12px;
}

.subscription {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscription__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

.subscription__label {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 358px;
    color: var(--hero-title-color);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    &::placeholder {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
    }
}



.signature {
    position: relative;
    top: 0;
    left: 0;
}

.signature__btn {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    padding: 10px 28px;
    border: none;
    background: var(--text-nav-link-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}