.header {
    border-bottom: 1px solid var(--header-border_bottom-color);
}

.header__container {
    display: flex;
    align-items: center;
}

.site__nav {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    font-family: "Raleway"; 
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-nav-link-hover-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo__part {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   }

.logo__part--dark {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}

.menu {
    @media screen and (min-width: 768px) {
            width: 768px;
            display: flex;
        }
    display: none;
    
    align-items: center;
    gap: 50px;
}

.menu__link {
    position: relative;
    transition: color var(--transition-duration);
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-nav-link-color);
}

.menu__link.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--text-nav-link-hover-color);
    &:hover,
    &:focus {
            color: var(--text-nav-link-hover-color);
        }
}

.menu__button_open {
    @media screen and (min-width: 768px) {
            display: none;
        }
    width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        fill: currentColor;
        margin-left: auto;   
        // &:hover,
        // &:focus {
        //     fill: var(--text-nav-link-hover-color);
        // }
}




// Mobile Menu
.mobile-menu {
    @media screen and (max-width: 767px) {
            width: 768px;
        }
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    >.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}
.mob-menu-top {
    margin-bottom: 50px;
}
 
.menu-button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    fill: currentColor;

    &:hover,
    &:focus {
        fill: var(--text-nav-link-hover-color);
    }
}






.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;

}

.mob-menu__link {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color:var(--text-nav-link-color);
        &:hover,
        &:focus {
            color: var(--text-nav-link-hover-color);
            }
}



.mob-contacts {
    margin-bottom: 64px;
}



.mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contacts__tel {
    font-style: normal;
        font-weight: 500;
        font-size: 7vw;
        line-height: 1.17;
        @media screen and (min-width: 480px) {
                font-size: 34px;
                line-height: 1.17;
            }
        letter-spacing: 0.02em;
        color: var(--text-nav-link-hover-color);
        
}

.mob-contacts__mail {
    font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--auth-link-color);
}

.mob-social {
    display: flex;
    flex-wrap: wrap;
    
}

.mob-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #757575;
}

// 

.mob-social__link {
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22px;
        letter-spacing: 0.02em;
        color: var(--text-nav-link-hover-color);
        
}


.menu__link.current {
    color: var(--text-nav-link-hover-color);
}

/* contacts */




.contacts {
    display: none;
    // display: flex;
    align-items: center;
    
}
.contacts--pos {
margin-left: auto;
}

.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__link {
    transition: color var(--transition-duration);
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--auth-link-color);
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover,
    &:focus {
            color: var(--text-nav-link-hover-color);
        }
}

.contacts__icon {
    fill: currentColor;
}
.contacts__icon {
    margin-right: 10px;
}

