.hero {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    padding: 118px 0;
    background: var(--hero-bacground-color);
    background-image: var(--bg-gradient),
        url(../images/img-hero_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
            background-image: var(--bg-gradient),
                    url(../images/img-hero_mob-2x.jpg);
        }

    @media screen and (min-width: 480px) {
            background-image: var(--bg-gradient),
                    url(../images/img-hero_tab.jpg);
                    
            @include retina {
                    background-image: var(--bg-gradient),
                        url(../images/img-hero_tab-2x.jpg);
                }
        }
    
        @media screen and (min-width: 768px) {
            background-image: var(--bg-gradient),
                    url(../images/img-hero.jpg);
                    
                @include retina{
                            background-image: var(--bg-gradient),
                                url(../images/img-hero-2x.jpg);
                        }
        }
        @media screen and (min-width: 1200px) {
                padding: 200px 0;
        }

}

.hero__title {

@media screen and (min-width: 480px) {
        font-size: 26px;
        line-height: 1.6;
}
@media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
}
    font-weight: 900;
    font-size: 6vw;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    max-width: 696px;
    margin: 0 auto 30px auto;
}