.hero {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    padding: 118px 60px;
    background: var(--hero-bacground-color);
    background-image: var(--bg-gradient),
        url(../images/img-hero_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
            background-image: var(--bg-gradient),
                    url(../images/img-hero_mob-2x.jpg);
        }

    @media screen and (min-width: 481px) {
            background-image: var(--bg-gradient),
                    url(../images/img-hero_tab.jpg);
                    padding: 118px 0px;
            @include retina {
                    background-image: var(--bg-gradient),
                        url(../images/img-hero_tab-2x.jpg);
                }
        }
    
        @media screen and (min-width: 769px) {
            background-image: var(--bg-gradient),
                    url(../images/img-hero.jpg);
                    padding: 200px 0;
                @include retina{
                            background-image: var(--bg-gradient),
                                url(../images/img-hero-2x.jpg);
                        }
        }
}

.hero__title {
@media screen and (max-width: 479px) {
                        font-size: 5vw;
                                line-height: 1.16;
                }
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    max-width: 696px;
    margin: 0 auto 30px auto;
}